.header{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(95, 83, 83);
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

hr{
    width: 80%;
}